article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{max-width:100%;width:auto 9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}#map_canvas img,

.google-maps img{max-width:none}button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}button,input{*overflow:visible;line-height:normal}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}textarea{overflow:auto;vertical-align:top}body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;color:#333;background-color:#fff}

.course-topbanner{min-width:900px;overflow:hidden;border-bottom:1px solid #bcbec0;height:71px;-webkit-box-shadow:0 0 1px 1px #ccc;box-shadow:0 0 1px 1px #ccc;position:relative;overflow:hidden;background-color:#fff}
.course-topbanner-instructor{font-size:15px;font-weight:lighter}
.course-topbanner-university-logo{width:200px;overflow:hidden;float:left;margin-top:12px;margin-left:21px;margin-right:20px;height:59px;}
.course-topbanner-university-logo img{max-height:48px;max-width:200px}
.course-topbanner-header{font-size:16px;line-height:21px;vertical-align:top;margin-top:13px;margin-left:26px;margin-bottom:0;margin-right:10px;height:50px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.course-topbanner-name{font-size:18px}
.course-topbanner-side{float:right;margin-top:12px;margin-left:20px;margin-right:20px;min-width:120px;text-align:right;}
.course-topbanner-side img{height:48px;border:1px solid #eee}

.course-topbar-logo{background:url("")}ul.course-topbar-nav-list{list-style-type:none;margin:0 20px 0 10px}
div.course-topbar-sublist{font-family:"sofiapro-light",Arial,sans-serif;border:1px solid #b3b3b3;text-align:left;display:none;position:relative;color:#3e3e3e;border-top:solid 3 e3e3e 1px;background:#3e3e3e;}div.course-topbar-sublist a.course-topbar-sublist-item{background-color:#fff;color:#3e3e3e;text-decoration:none;font-size:14px;padding:6px 12px;display:block;cursor:pointer;border-bottom:solid #cecece 1px}div.course-topbar-sublist a.course-topbar-sublist-item:focus{background-color:#ddd;color:#111}div.course-topbar-sublist a.course-topbar-sublist-item:hover{background-color:#ddd;color:#111}div.course-topbar-sublist div.course-topbar-sublist-item{background-color:#fff;color:#3e3e3e;text-decoration:none;font-size:14px;padding:6px 12px;display:block;cursor:pointer;border-bottom:solid #cecece 1px}li.course-topbar-nav-list-item{float:left;cursor:pointer;color:#d4d4d4;text-decoration:none;padding:8px;font-family:"sofiapro-light",Arial,sans-serif;font-size:14px;letter-spacing:1px;display:block;border:solid transparent 1px;text-shadow:0 1px rgba(0,0,0,0.5);}
li.course-topbar-nav-list-item 
a{text-decoration:none;color:#d4d4d4}
li.course-topbar-nav-list-item.access-group{color:rgba(255,255,255,0.4);cursor:auto}
li.course-topbar-nav-list-item.stories-nav-button{width:40px}
.course-topbar-nav-container a{
	text-decoration: none;
	color: #287DE7
}

.course-topbar{background-color:#4d4d4d;padding:0;margin:0;border-bottom:1px solid rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 -6px 18px 0 rgba(0,0,0,0.25);box-shadow:inset 0 -6px 18px 0 rgba(0,0,0,0.25)}
.course-topbar-logo{background:url("");text-decoration:none;width:108px;height:17px;display:inline-block;margin-top:12px;margin-left:16px}
.supports-svg .course-topbar 

ul, dl, ol      {
        margin: 0 0 1em 1em;
}
dt      {
        font-weight: bold;
        margin-bottom: 0.5em;
        }
dd      {
	margin-bottom: 0.5em;
	vertical-align: baseline;
        }
ol, li, dl, dt, dd {
        line-height: 1.0em;
        }
p {
        margin: 0 0 1em 0;
        padding: 0;
        line-height: 1.5em;
        }
a{
	color: #287DE7;
	text-decoration: none
	}
a:hover {
	color: #5DB9FC;
	background-color: transparent;
	text-decoration: underline;
    }
a:link  {
	color: #287DE7;
	background-color: transparent;
    }
a:visited   {
	color: #874AC3;
	background-color: transparent;
    }
a:active    {
    color:  #014c2d;
    background-color: transparent;
    }
.style1 {
    font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
	}
.solutions {
    text-align : left;
	font-size: 10px;
    font-weight: normal;
    padding:    .25em;
  }
.solutions a  {
    text-decoration:  none;
	color : #336666;
}
.solutions a:hover    {
    color:  #000;
    background-color: #E6E6FA;
    text-decoration: underline;
}
.date   {
    font:  9px/1.5em verdana, helvetica, geneva, sans-serif;
    color:  #0000ff;
    padding:    .25em;
}
.lecture    {
	font-weight:    bold;
	background-color: #eee;
	color:  #061557;
	padding:    0.25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	vertical-align: middle;
}
.chapter    {
	font-weight:    bold;
	font-style: normal;
	color:  #00254c;
	background-color:   #FFFFFE;
	padding:   0em;
	margin-top: 0;
	margin-right: 0.5em;
	margin-bottom: 1em;
	margin-left: 1em;
	height: inherit;
	padding-bottom: 0px;
}
.chapter a  {
	text-decoration:    none;
}
.chapter a:hover    {
    text-decoration: underline;
    color : #00A000;
}
.homework    {
    font-weight:    bold;
    font-style: normal;
    color:  #00254c;
    background-color:   #FFFFFE;
    padding:    0.0em;
    margin: 0 0.5em 0.0em 2em;
}
.homework a  {
	text-decoration:    none;
}
.homework a:hover    {
    text-decoration: underline;
    color : #00A000;
}
.description {
	text-align : left;
	background-color : #FFFFFF;
	font-size: 11px;
	margin-left: 20px;
	margin-top: 0px;
  }
.description a  {
    text-decoration:  none;
    color : #00A000;
}
.description a:hover    {
    color:  #000;
    background-color: transparent;
    text-decoration: underline;
}

.construction {
	color: #CC0000;
	font-size: 11px;
}

.part {
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.footer	{
	font: 10px/1.5em geneva, verdana, helvetica, sans-serif;
	text-align:	center;
	margin-top: 10px;
	color:	#00254c;
	background-color:	#ccc;
	}
.footer a	{
	text-decoration: none;
	font-weight: normal;
	}
.footer a:link	{
	color:	#00254c;
	font-weight: bold;
	background-color: #ccc;
	}
.footer a:visited	{
	color:	#00254c;
	font-weight: bold;
	background-color: #ccc;
	}
.footer a:active	{
	color:	#014c2d;
	font-weight: bold;
	background-color: #ccc;
	}
.footer a:hover	{
	color:	#000;
	font-weight: bold;
	background-color: #ccc;
	text-decoration:	underline;
	}

.university-color {
    color: #C59353;
}
a.university-color {
    color: #C59353;
}
a.university-color:hover {
  color: #d2ab79;
}
table, th, td {
    border: 0px solid black;
}

.course-is-locked-topbanner{float:right;margin-right:20px;margin-top:16px}
.course-is-locked-topbanner-old{position:absolute;top:45px;right:0}@media (max-width:768px){
.course-topbanner-logo-name{font-size:16px}}#course-page-sidebar{width:216px;position:absolute;padding-top:25px;top:0;left:20px}#course-page-content{background-color:
#fff;min-width:706px;min-height:1400px;height:100%;margin-top:12px;margin-left:236px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:0 1px 2px 1px rgba(0,0,0,0.25);box-shadow:0 1px 2px 1px rgba(0,0,0,0.25);-webkit-border-radius:1px;border-radius:1px;padding:30px 30px 48px 30px}

.course-navbar-list{margin-left:0;}
.course-navbar-list .course-navbar-item{list-style:none;min-height:10px;}
.course-navbar-list .course-navbar-item h3{margin-top:20px;margin-bottom:10px;line-height:1.2em;font-size:12px;text-transform:uppercase;text-align:left;color:#666}.course-navbar-list .course-navbar-item a{padding:10px 9px 9px 9px;margin-top:-1px;margin-bottom:0;border:1px solid #e2e2e2;font-size:14px;background-color:#ccc;background-color:rgba(128,128,128,0.05);display:block;text-decoration:none;font-weight:bold;}
.course-navbar-list .course-navbar-item a:hover{text-decoration:none;background-color:#bbb;background-color:rgba(128,128,128,0.15)}
.course-navbar-list .course-navbar-item.active a{border-right:2px solid #fff;background-color:#fff;-webkit-box-shadow:-1px 1px 1px 0 rgba(0,0,0,0.05);box-shadow:-1px 1px 1px 0 rgba(0,0,0,0.05);margin-left:-1px}

.text-success{color:#468847}
a.text-success:hover{color:#3f7a40}
h1,h2,h3,h4,h5,h6{margin:10.5px 0;font-family:inherit;font-weight:bold;line-height:21px;color:inherit;text-rendering:optimizelegibility;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#ccc}
h1,h2,h3{line-height:42px}h1{font-size:38.5px}
h2{font-size:31.5px}h3{font-size:24.5px}h4{font-size:17.5px}h5{font-size:14px}h6{font-size:11.9px}h1 small{font-size:24.5px}h2 small{font-size:17.5px}h3 small{font-size:14px}h4 small{font-size:14px}.page-header{padding-bottom:9.5px;margin:21px 0 31.5px;border-bottom:1px solid #eee}
ul,ol{padding:0;margin:0 0 10.5px 25px}ul ul,ul ol,ol ol,ol ul{margin-bottom:0}
li{line-height:21px}
ul.unstyled,ol.unstyled{margin-left:0;list-style:none}
dl{margin-bottom:21px}
dt,dd{line-height:21px}
dt{font-weight:bold}
dd{margin-left:10.5px}

.breadcrumb{padding:8px 15px;margin:0 0 21px;list-style:none;background-color:#f5f5f5;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}.breadcrumb li{display:inline-block;*display:inline;*zoom:1;text-shadow:0 1px 0 #fff}.breadcrumb .divider{padding:0 5px;color:#ccc}.breadcrumb .active{color:#ccc}

.row-fluid .thumbnails{margin-left:0}.thumbnails > li{float:left;margin-bottom:21px;margin-left:20px}

.accessible-text-for-reader{position:absolute !important;height:1px;width:1px;
                        overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
