{% extends "base1st.html" %}
{% load staticfiles %}

{% block homework %}

<h2 class="course-page-header">
  Homework 4
</h2>

<!-- -------------------------------------------------- -->
<!-- the content of homework -->
<div class="course-quiz-preamble">
  For this homework, you can submit up to 3 times. <br>
  You can download the template program for question 3 and 4 from 
  <a href="scripts/Lorenz.py">here</a> (right click, "save as"). 
</div>


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <!---------------- q1 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q4.1 \(\quad\) \(D_3\): symmetries of an equilateral triangle (ChaosBook.org version14.5.7, exercise 9.5 a)
    </h4>
    Consider group \(D_3 \approx C_{3v} = \{e, \sigma_{12}, \sigma_{23}, \sigma_{31}, C^{1/3}, C^{2/3} \} \), the symmetry group of  an equilateral triangle. The meaning
    of these operation are as follows,
    \[\begin{aligned} 
    e &- \mbox{identity} \\   
    \sigma_{12} &- \mbox{reflection leaving 3 invariant, while switching 1 and 2}. \\ 
    & \sigma_{23},\sigma_{31}\mbox{are similarly defined}\\
    C^{1/3} & - \mbox{rotation by} 2\pi/3 \\  
    C^{2/3} & - \mbox{rotation by} 4\pi/3 \\ 
    \end{aligned}\] 

    which one of the following is not a class of \(D_3\)
    
    <br><br>
    {{hwForm.q1}}
  </div>


  <!---------------- q2 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>Q4.2 \(\quad\) \(D_3\): symmetries of a three-billiard game.</h4>
    A relative periodic orbit inside the three-billiard game is
    invariant under symmetries \(\{ C^{1/3}, C^{2/3}\}\). The prime period of 
    this orbit is \(T_p\), what is the period for the corresponding
    full state space periodic orbit ?
    
    <br><br>
    {{hwForm.q2}}

  </div>
  
  <!---------------- q3 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>Q4.3 \(\quad\) \(C_2\): symmetry of Lorenz flow</h4>
    Lorenz system 
    \[ \begin{aligned}
    \dot{x} & = \sigma (y -x) \\
    \dot{y} & = \rho x - y - xz \\
    \dot{z} & = xy-bz \\
    \end{aligned}\]
    is equivariant under the action of cyclic group 
    \(C_2 = \{ e, C^{1/2}\}\), where \(C^{1/2}\) is the rotation by \(\pi\)
    about the z-axis.
    Invariant polynomials can be used to 
    reduce this discrete symmety by transformation:
    \((u,v,z) = (x^2-y^2, 2xy, z)\). In this exercise, we implement a 
    post-processing method, which means system is integrated in the full
    state space, after which the orbit is transformed into the invariant 
    polynomials basis. Please read 'Lorenz.py', and complete symmetry 
    operation 'C2', functions 'velocity', 'stabilityMatrix', 
    'integrator_with_jacob' and 'reduceSymmtry'. 
    <br><br>
    To validate your code, set 'case = 1', you will see a long ergodic 
    trajectory in the full state space and in symmetry reduced space 
    ( figure 'a' and 'b' at the bottom of this page).
    Set 'case = 2', a relative periodic orbit will show up.
    <br><br>
    Now, please set 'case = 3' and finish case 3. You are given the 
    initial condition for a relative periodic orbit, and the period.
    Integrate the orbit for \( 2T_p\) to obtain Jacobian
    \(J^{2T_p}(x_0)\), and calculate the Floquet 
    multipliers and Floquet vectors. Make sure you get an marginal 
    multiplier. Enter in the following box the expanding Floquet
    multiplier (not exponent).

    <br><br>
    {{hwForm.q3}}
  </div>

  <!---------------- q4 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>Q4.4 \(\quad\) \(C_2\): symmetry of Lorenz flow: continued</h4>

    Now set 'case = 4' and finish case 4. You are given the 
    intial condition for the same relative periodic orbit. 
    Try to calculate the Floquet multipliers and Floquet vectors
    for the prime oribt \(T_p\). 

    We define the Floquet matrix to be \( C^{1/2}\cdot J^{T_p}(x_0)\). 
    Enter the expanding multiplier for
    this new Floquet matrix.
    Note, you should get a marginal multipler as well. Think about 
    the relation between the answer of this question and that of the last 
    question.
    
    <br><br>
    {{hwForm.q4}}
  </div>

  <!---------------- q5 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>Q4.5 \(\quad\) \(C_n\): cyclic group by a single element. </h4>
    Consider the n-fold cyclic group 
    \(C_n =\{e, C_n^1, C_n^2,\cdots, C_n^{n-1}\}\), which represents the
    symmetry of a horizontal plane under rotation through a vertical axis
    by angle \(2\pi/n\). It has properties \(C_n^i C_n^j = C_n^{i+j}\) and
    \(C_n^n = e\).

    Now suppose a flow has \(C_n\) symmetry:
    \[
    f^t(C_n^1\cdot x) = C_n^1 \cdot f^t(x)
    \]
    There is a relative periodic orbit in this flow:
    \(x(0) = C_n^1\cdot x(T_p)\).
    Here \(T_p\) is prime period, and it is easy to see that the whole
    period is \(nT_p\): \(x(0) = x(nT_p)\). After reducing this discrete 
    symmetry, we are left in the fundamental domain, which is \(1/n\) of 
    the full state space. The problem now becomes how to relate the
    Jacobian Matrix in the full state space and the Jacobian in the reduced 
    space. Follow notations in ChaosBook: 
    \(J^{t}(x(0)) = \partial f^t(x(0)) / \partial x(0)\) denotes the Jacobian
    from \(x(0)\) to \(x(T_p)\). So \(J^{nT_p}(x(0))\) is the Jacobian associated
    with the full orbit, and \(J^{T_p}(x(0))\) is the Jacobian associated 
    with the trajectory in the fundamental domain.
    <br><br>
    What is the relation between \(J^{nT_p}(x(0))\)
    and \(J^{T_p}(x(0))\) ?

    <br><br>
    {{hwForm.q5}} 
  </div>
  
  <!---------------- email ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>Your e-mail</h4>
    Please enter your e-mail (the same you are registered under in Piazza) to receive your grades:
    <br><br>
    
    {{hwForm.email}}
    
    <!---------------- submit ---------------- -->
    <br><br><br>
    <p style="text-align:center;">
      <input  type="submit" value="Submit">
    </p>
    
  </form>

</div>

{% endblock %}
