{% extends "base1st.html" %}
{% load staticfiles %}

{% block homework %}

<h2 class="course-page-header">
  Homework 2
</h2>

<!-- -------------------------------------------------- -->
<!-- the content of homework -->
<div class="course-quiz-preamble">
  You can download the template program for question 4 and 5 from 
  <a href="scripts/Rossler.zip">here</a> (right click, "save as"). 
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!---------------- q1 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q2.1 \(\quad\) A contracting baker’s map (ChaosBook.org version14.5.7, exercise 4.6)
    </h4>
    Consider a contracting (or 'dissipative') baker's map, acting on a unit 
    square \([0,1]^2 = [0,1]\times[0,1]\), defined by

    \[
    \begin{aligned}
    \left(
    \begin{array}{l}
    x_{n+1} \\ y_{n+1} \\
    \end{array}
    \right) &=
    \left(
    \begin{array}{c}
    x_n/3 \\ 2y_n \\
    \end{array}
    \right) \quad y_n \leq 1/2 \, ,
    \\
    \left(
    \begin{array}{l}
    x_{n+1} \\ y_{n+1} \\
    \end{array}
    \right)&=
    \left(
    \begin{array}{c}
    x_n/3 +1/2\\ 2y_n-1 \\
    \end{array}
    \right) \quad y_n > 1/2
    \,.
    \end{aligned}
    \]
    This map shrinks strips by a factor of 1/3 in the x-direction,
    and then it stretches (and folds) them  by
    a factor of 2 in the y-direction.

    By how much does the state space volume
    contract for one iteration of the map? 
    (enter numerical value with at least 4 significant figures)

    
    <br><br>
    {{hwForm.q1}}
  </div>


  <!---------------- q2 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q1.2 \(\quad\) A limit cycle with analytic Floquet exponent. (ChaosBook.org version14.5.7, exercise 5.1)
    </h4>
    There are only two examples of nonlinear flows for which the
    Floquet multipliers can be evaluated analytically.
    Both are cheats.
    One example is the 2-dimensional flow
    \[
    \begin{aligned}
    \dot{q}  &=  ~p + q(1-q^2-p^2) \, , \\
    \dot{p}  &=  -q + p(1-q^2-p^2) \, .
    \end{aligned}
    \]
    It is easy to see that this flow has an equilibrium at the origin 
    \((p,\,q) = (0,\,0)\). Is this equilibrium stable or unstable?
    
    
    <br><br>
    {{hwForm.q2}}
  </div>
  
  <!---------------- q3 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q1.3 \(\quad\) (continuing from Question 2)
    </h4>
    Go to polar coordinates 
    \( (q,p) = (r \cos \theta,r \sin \theta) \) and find 
    the limit cycle of this flow. What is the contracting Floquet exponent for this limit cycle?

    
    <br><br>
    {{hwForm.q3}}
  </div>

  <!---------------- q4 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q1.4 \(\quad\) Stability of an equilibrium
    </h4>
    
    In this question, you are going to compute stability eigenvalues and 
    eigenvectors of one of the equilibria of the Rössler system. 
    <br><br>

    Start with completing definition of \( \mbox{StabilityMatrix(ssp)} \) in 
    \( \mbox{Rossler.py} \). Replace the 'None' elements of the matrix by the 
    appropriate partial derivatives. 
    <br><br>

    The next task is to call this function from <b>Stability.py</b>. 
    See that in the beginning of <b>Stability.py</b>, we <b>import</b>
    the Rossler module, where we now have the definition of the stability
    matrix. Find the line where you are asked to evaluate this matrix at the \( \mbox{eq0} \), and 
    replace its `None' value by the stability matrix at \( \mbox{eq0} \). Functions of 
    other modules in python are called as follows

    \[ \mbox{ModuleName.FunctionName(arguments)} \]

    Read through the rest of the code and complete the lines where you see the 
    \( \mbox{#COMPLETE THIS LINE}\)
    comment. Once you finish, run \( \mbox{Stability.py} \) to see its output. 
    <br><br>

    You should see a flow spiraling out on a plane that is spanned by the real 
    and imaginary parts of the expanding eigenvector. Our goal for showing this 
    to you is to illustrate the "locally linear" behavior of the flow. Here, we 
    pick an initial condition very close to the equilibrium, with a little 
    perturbation in the unstable plane. 
    <br><br>

    When run, <b>Stability.py</b> should also print the stability 
    eigenvalues at the equilibrium in the terminal, type in the real
    part \( Re \lambda_1 \)of the most expanding eigenvalue in the box below. 
    Please use at least 4 decimal digits in your answer.


    <br><br>
    {{hwForm.q4}}
  </div>

  <!---------------- q5 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q1.5 \(\quad\) Stability of a periodic orbit
    </h4>

    In this problem you are going to calculate the Floquet matrix 
    (the Jacobian for one period) and its eigenvalues and eigenvectors 
    for the shortest periodic orbit of the Rössler system. 
    <br>

    In <b>CycleStability.py</b>, we have given you the initial condition 
    and period of this orbit. Remember that 
    the Jacobian satisfies the following differential equation
    \[
    \frac{d}{dt} J^t(x_0) = A(x) J(x_0)\, , x = f^t(x_0)\, , \quad 
    \mbox{initial condition}\, J^t(x_0) = \mathbf{1}\,,
    \]
    where \(A(x)\) is the stability matrix. 
    Note that both sides of the above differential equation are
    \(d \times d\) matrices, and the value of \(A(x)\) depends on
    where it is evaluated in the state space. In other words, we need to 
    evaluate the above equation along with the orbit. In order to be 
    able to integrate it using our generic integrators, we need to convert
    this problem into a \(d + d\times d\) dimensional linear ODE, 
    where first \(d\) elements 
    are the state space points, and the remaining \( d \times d \) are the 
    elements of the Jacobian matrix. We have written the velocity 
    function for 
    this extended system in <b>Rossler.py</b>. 
    <br><br>

    Begin this exercise by reading the content of 
    \( \mbox{JacobianVelocity(sspJacobian, t)} \) in \( \mbox{Rossler.py} \) and understand 
    its construction. You are going to integrate this function in 
    <b>CycleStability.py</b>.
    <br><br>


    Now go to <b>CycleStability.py</b> and complete the line where
    you specify the initial condition for the Jacobian. Read through 
    the code and complete 
    the line where you need to find the eigenvalues and eigenvectors of the 
    Jacobian.
    <br><br>

    Run  <b>CycleStability.py</b>. You should see the periodic orbit and
    the Floquet vectors associated with it.
    Which arrow corresponds to the marginal 
    direction?
    

    <br><br>
    {{hwForm.q5}} 
  </div>

  <!---------------- email ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>Your e-mail</h4>
    Please enter your e-mail (the same you are registered under in Piazza) to receive your grades:
    <br><br>
    
    {{hwForm.email}}
  </div>

  <!---------------- submit ---------------- -->
  <br><br><br>
  <p style="text-align:center;">
    <input  type="submit" value="Submit">
  </p>
  
</form>


{% endblock %}
