{% extends "base1st.html" %}
{% load staticfiles %}

{% block homework %}

<h2 class="course-page-header">
  Homework 5
</h2>

<!-- -------------------------------------------------- -->
<!-- the content of homework -->
<div class="course-quiz-preamble">
  For this homework, you can submit up to 3 times. <br>
  You can download the template program for question 2, 3 and 4 from 
  <a href="{% static "scripts/twoModes.py" %}">here</a> (right click, "save as"). 
</div>


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <!---------------- q1 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q5.1 \(\quad\) generator of continuous symmetry
    </h4>
    A 1-d complex field \(f(x,t)\) has periodic boundary condition:
    \(f(x, t) = f(x+L, t)\), where \(f\) is a complex field and \(L\) 
    is the spatial period. For study convenience, we turn to its spectrum
    domain by Fourier transform: \( a_k(t) = \sum_{n=-N}^{N} f(x_n, t) e^{-iq_k x_n} \). 
    Here \(q_k = 2\pi k/L\) and split the real and imaginary part: \(a_k = b_k + i c_k\), 
    so its state space becomes  
    \([b_{-N},c_{-N}, b_{-N+1}, c_{-N+1}, \cdots, b_0, c_0, \cdots, b_{N}, c_{N}]\). 

    Now suppose the evolution equation for this field has 
    two continuous symmetries: translation invariance 
    \(\tau_l f(x,t) = f(x+l,t)\) and phase invariance \(\rho_\phi f(x,t) = e^{i\phi}f(x,t)\).
    One example of such flow is complex Ginzburg-Landau equation 
    (http://codeinthehole.com/static/tutorial/index.html). 

    <br><br>
    Denote  
    \[ T^{(k)} =  \begin{pmatrix} 0 & -k \\ k & 0 \end{pmatrix} \] 
    and two block-diagonal matrices: 
    \[    T_1 = \text{diag}(T^{(-N)}, T^{(-N+1)}, \cdots, T^{(0)}, \cdots, T^{(N)})  \]
    \[    T_2 = \text{diag}(T^{(1)}, T^{(1)}, \cdots,T^{(1)})\,. \]
    Which of the following is the correct generators of these two symmetries ?
    For more discussion, see chapter 12 example 12.3 and chapter 13 section 13.5.
    
    <br><br>
    {{hwForm.q1}}
  </div>


  <!---------------- q2 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q5.2 \(\quad\) Two modes system (Chapter 13 Excercise 13.7)
    </h4>
    Two modes system ( Chapter 12 Example 12.5, 12.6 and 12.7)
    \[\begin{align}
    \dot{z}_1 &=& \mu_1 \,z_1 - z_1|z_1|^2 +c_1\,\overline{z}_1\,z_2 \\
    \dot{z}_2 &=& (1-i)\,{z_2}+a_2\,z_2|z_1|^2+\,z_1^2
    \end{align}
    \]
    has U(1) symmetry. Spltting the real and imaginary part,
    it has form 
    \[ \begin{align}
    \dot{x}_1 &= (\mu_1    - r^2)\,x_1 + c_1\,(x_1 x_2 + y_1 y_2)
    \,,\qquad       r^2 = x_1^2 + y_1^2 \\
    \dot{y}_1 &= (\mu_1    - r^2)\,y_1 + c_1\,(x_1 y_2 - x_2 y_1) \\
    \dot{x}_2 &= x_2 +  y_2 + x_1^2 - y_1^2  + a_2 x_2 r^2 \\
    \dot{y}_2 &= -  x_2 + y_2 + 2\,x_1 y_1  + a_2 y_2 r^2
    \end{align}
    \]
    4-dimensional space \(x = [x_1, y_1, x_2, y_2]\) is the full state space of
    this system. Now U(1) symmetry becomes SO(2) symmtry for this 
    state space and the corresponding group transformation has form 
    \( g(\phi) = \text{diag}(R(\phi), R(2\phi))\), where 
    \[ R(\phi) = 
    \begin{pmatrix}
    \cos(\phi) & -\sin(\phi) \\
    \sin(\phi) & \cos(\phi)
    \end{pmatrix}
    \]
    For general case, see discussion in section 13.5.
    Now we try to reduce its continuous symmetry. Choose the
    simplest slice template point 
    \[
    x' = (1, 0, 0, 0)
    \]
    The group tangent at \(x'\) is \(t'=\mathbf{T}x' = (0,1,0,0)\), where
    \(\mathbf{T}\) is the group generator (what is the group generator 
    for this system? ). According to the definition of slice 
    \(t'\cdot \hat{x} = 0 \) ( formula (13.4) ), 
    you get the slice for this specific choice of template point:
    \[
    \hat{y}_1 = 0\; ,\quad \hat{x}_1 > 0
    \]
    Since \(\hat{y}_1\) is always zero, for simplicity, we write 
    \(\hat{x} = [\hat{x}_1, \hat{x}_2, \hat{y}_2] \) omitting the second 
    coordinate. This is why in the template code the state vector in slice
    is 3-dimensional while the state vector in the full state space is
    4-dimensional.
    Symmetry reduction is the process to transform the symmetry equivalent
    points to the same point in the slice. For example, 
    point \( x_1 = (1, 2, 3, 4) \) and \(x_2 = (-2, 1, -3, -4) \) are 
    related by group operation \(g(\pi/2)\), and both of them are transformed
    to the same point in slice \(\hat{x} = (2.23606798, 1.4, -4.8) \) by
    two different phases \(\phi_1\) and \(\phi_2\) respectively (What are
    \( \phi_1\) and \(\phi_2\)? Note their difference should
    be \(\pi/2\) ).
    Therefore, one straightforward way to reduce continuous symmetry 
    is to find the right phase \( \phi \) such that \(g(\phi)\) transforms 
    the state point in the full state space into the slice. This is
    post-processing since you first get a trajectory in the full state space.

    <br><br>

    The second choice is that
    we study the dynamical laws inside the slice directly, which is 
    derived in section 13.4. You are going to implement formula (13.6) 
    and (13.7) in function 'velocity_reduced()'
    and 'velocity_phase()' respectively in the code. Note: there
    is no need to use time-scaled version (13.19) and (13.20) for this 
    problem. You already know the velocity in the full state space, so
    please write down the analytical form of the velocity
    within the slice and the phase velocity on scratch paper before 
    turning to the code.

    <br><br>

    Now, in 'twoModes.py', set 'case = 1' to validate your implementation.
    You will see three figures. The 1st looks like figure (a) at the bottom
    of this page, which is a trajectory in the full state space projected
    onto \([x_1, y_1, x_2]\) basis. The 2nd and 3rd should look like
    figure (b). Note the 2nd figure comes from post-processing method, while
    the 3rd figure is the result directly from integration in slice.
    It also prints out the
    stability matrix at point (0.1, 0.2, 0.3) in slice, which should be
    \[
    \begin{pmatrix}
    -4.38   & -0.775 &   0.  \\  
    0.0936  & 0.9734 & -8.3    \\
    -0.1596 &  3.65  &  4.0734 \\
    \end{pmatrix}
    \]  
    
    Slice has border, where it fails to reduce the continuous symmetry. 
    In this specific case, the slice border is an invariant subspace (
    if you want to,
    you can confirm it), so it will not cause trouble. What is the 
    dimension of this slice border ?
    
    <br><br>
    {{hwForm.q2}}

  </div>
  
  <!---------------- q3 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q5.3 \(\quad\) Two modes system continued: relative equilibria
    </h4>
    Have a look at figure (b) at the bottom. Two holes are there and
    the flow is structured around them. Actually, an equilibrium and a
    relative equilibrium
    are there. The equilibrium is trivial: (0, 0, 0). 
    Please set 'case = 2' to find the relative equilibrium.
    It should look like figure (c) in the full state space.
    What is the phase velocity of this relative equilibrium ?

    <br><br>
    {{hwForm.q3}}
  </div>

  <!---------------- q4 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q5.4 \(\quad\) Two modes system continued: Poincare return map
    </h4>

    Slice helps reduce the dimension of the system by one, and thus 
    reveal the structure of the flow as indicated in fig (b). From  
    homework 3, you learned the technique to construct Poincare return map
    to find good guess of periodic orbit. Here, we construct Poincare 
    section to classify the hierarchy of periodic orbits inside these 
    system.  Please set 'case = 3' and finish this case.
    Fig (e) and (f) show the 1st order and 4th order return map. Each 
    fixed point on the return map corresponds to the initial condition
    of a periodic orbit. Please draw the 2nd order return map, and you will
    get 3 fixed points. The middle one is the same as the one in fig (e).
    The other two are the intersection points of a longer periodic orbit.
    What is the smallest x-coordinate (\(r_n\)) of the three fixed points
    in the 2nd order return map ?
    <br><br>
    Note, Poincare section has direction. Choose the correct direction in your
    implementation such that the recorded intersection points accord with
    fig (d). Also, do not worry too much about the accuracy of your answer 
    for this question. The error range we set for this question is \(\pm 0.1\).
    
    <br><br>
    {{hwForm.q4}}
  </div>

  <!---------------- q5 ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>
      Q5.5 \(\quad\) Jacobian of a relative periodic orbit
    </h4>
    From homework 4, we learn the relation between Jacobian for a periodic 
    orbit in the full state space and that in the fundamental domain. However,
    for a relative periodic orbit with continuous symmetry, this orbit will
    never return to the initial state in the full state space, 
    so we cannot check the
    relation between Jacobian evolved for infinite long time and that with
    a prime period. The chapters of this week define Jacobian of a relative 
    periodic orbit \(x(0) = g_p x(T_p)\) to be \(J_p(x) = g_pJ^{T_p}(x)\), 
    where \(T_p\) is the prime period, \(g_p = g(\phi_p)\) is the group
    transform which takes the end point back to the initial point. Denote
    the group tangent at \(x\) is \(t(x)\).

    <br>
    Which one of the following relation is correct ?

    <br><br>
    {{hwForm.q5}} 
  </div>
  
  <!---------------- email ---------------- -->
  <div style="padding:10px 5px 15px 20px;">
    <h4>Your e-mail</h4>
    Please enter your e-mail (the same you are registered under in Piazza) to receive your grades:
    <br><br>
    
    {{hwForm.email}}
    
    <!---------------- submit ---------------- -->
    <br><br><br>
    <p style="text-align:center;">
      <input  type="submit" value="Submit">
    </p>
    
</form>

<img src="{% static "figs/twoModesFull.png" %}" alt="two modes" height="300" width="300">
<img src="{% static "figs/twoModesSlice.png" %}" alt="two modes slice" height="300" width="300">
<br>
<img src="{% static "figs/twoModesReq.png" %}" alt="two modes slice" height="300" width="300">
<img src="{% static "figs/twoModesPoincare.png" %}" alt="Poincare section" height="300" width="300">
<br>
<img src="{% static "figs/twoModesReturn1.png" %}" alt="two modes return" height="300" width="300">
<img src="{% static "figs/twoModesReturn2.png" %}" alt="two modes return" height="300" width="300">
    

{% endblock %}
