{% load staticfiles %}
{% load mathjax %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7">
<meta name="fragment" content="!">
<meta name="robots" content="NOODP">
<meta charset="utf-8">
<meta property="og:title" content="Nonlinear Dynamics 1: Geometry of Chaos">
<meta property="og:type" content="website">
<meta property="og:image" content="figs/SOOClogo.jpg">
<meta property="og:site_name" content="Nonlinear Dynamics 1: Geometry of Chaos">
<meta property="og:locale" content="en_US">
<meta property="og:description" content="Nonlinear Dynamics 1: Geometry of Chaos is a free online class taught by Predrag Cvitanović of Georgia Institute of Technology">
<meta name="description" content="Nonlinear Dynamics 1: Geometry of Chaos is a free online class taught by Predrag Cvitanović of Georgia Institute of Technology">
<meta name="image" content="figs/SOOClogo.jpg">
			<title>
Homework
			</title>
<link rel="shortcut icon" href="figs/DasBuch.ico" type="image/x-icon" />
<link href="{% static 'styles/sidebar.css' %}" rel="stylesheet" type="text/css">

{% mathjax_scripts %}

</head>

<body>
<!--<title>Welcome</title>
	$Author: predrag $
	$Date: 2014-04-23 21:43:07 -0400 (Mon, 23 Apr 2014)
<h3>welcome! </h3>
-->

<div class="course-topbanner-wrapper">
  <div class="course-topbanner">
    <div class="course-topbanner-university-logo"><a href="http://www.gatech.edu" target="_blank" data-if-linkable="add-referrer" title="http://www.gatech.edu" class="university-color"><img src="{% static "figs/Georgia-Institute-of-Technology.png" %}" alt="gatech"></a> </div>
    <h1 class="course-topbanner-header"><a href="index.html" data-if-linkable="modal-lock" class="course-topbanner-name university-color"
>Nonlinear Dynamics 1: Geometry of Chaos</a><br>
      <span class="course-topbanner-instructor"
>by Predrag Cvitanović</span></h1>
  </div>
</div>
</div>

<div style="position:relative;" class="container-fluid">
<div class="row-fluid">
<div id="course-page-sidebar" role="navigation">
<div class="curse-sidebar" role="menubar">
<div id="course-page-sidebar" role="navigation">
  <div class="course-navbar-container"><a href="about.html"  data-ab-user-convert="navclick_index"> <img src="{% static "figs/SOOClogo.jpg" %}" style="width: 205px;height: 116px; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);" alt="Course Home Page"></a>
    <ul class="course-navbar-list">
      <li class="course-navbar-item"><a href="index.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Announcements" class="university-color">Announcements </a></li>
      <li class="course-navbar-item">
        <h3>Course</h3>
      </li>
      <li class="course-navbar-item"><a href="Syllabus.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Syllabus_&amp;_Schedule" class="university-color">Syllabus &amp; Schedule </a></li>
<!--      <li class="course-navbar-item"><a href="https://www.youtube.com/playlist?list=PLVcaOb64gCp8CAL-6KMjTAUfOkr624kLT" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Video_Lectures" class="university-color">Video Lectures </a></li>
      <li class="course-navbar-item"><a href="Homeworks.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Homework_assignments" class="university-color">Homework assignments </a></li>
 -->      <li class="course-navbar-item"><a href="Course1w1.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_2_" class="university-color">Week 1 </a></li>
      <li class="course-navbar-item"><a href="Course1w2.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_2_" class="university-color">Week 2 </a></li>
      <li class="course-navbar-item"><a href="Course1w3.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_3" class="university-color">Week 3 </a></li>
      <li class="course-navbar-item"><a href="Course1w4.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_4" class="university-color">Week 4 </a></li>
      <li class="course-navbar-item"><a href="Course1w5.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_5" class="university-color">Week 5 </a></li>
      <li class="course-navbar-item"><a href="Course1w6.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_6" class="university-color">Week 6 </a></li>
      <li class="course-navbar-item"><a href="Course1w7.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_7" class="university-color">Week 7 </a></li>
      <li class="course-navbar-item"><a href="Course1w8.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Week_8" class="university-color">Week 8 </a></li>
      <li class="course-navbar-item"><a href="Grading.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Grading_&amp;_Logistics" class="university-color">Grading &amp; Logistics </a></li>
      <li class="course-navbar-item"><a href="Software.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Software_Requirements" class="university-color"> Software </a></li>
      <li class="course-navbar-item"><a href="Python.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Python_Resources" class="university-color">Python Resources </a></li>
      <li class="course-navbar-item">
        <h3>Community</h3>
      </li>
      <li class="course-navbar-item"><a href="http://piazza.com/gatech/spring2015/phys7224" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Discussion_Forums" class="university-color">Discussion Forums </a> </li>
        <li class="course-navbar-item"><a href="PHYS-7224.html" data-if-linkable="modal-lock,gray,lock-icon"  data-ab-user-convert="navclick_Discussion_Forums" class="university-color">Gatech Forum</a> </li>
      </ul>
  </div>
</div>

<div id="course-page-content" role="main">
    <div style="display: block;" id="spark" class="hide">  
      \(x = y\)
    </div>
</div>

<script>
alert("good");
</script>


</body>
</html>
